<div class="contenedor">


    <div class="Params_entrada">
        <label>Parametros de entrada</label>
        <h4 class="ESP">Entradas: {{Nentradas}} Salidas: {{Nsalidas}} Patrones: {{Npatrones}} </h4>
        <input class="input_file" type="file" (change)="onChange($event.target.files)">
        <button type="button" class="btn btn-success" onclick="location.reload()">
            Reiniciar red <i class="bi bi-arrow-clockwise"></i> 
          </button>
    </div>


    <div class="config_red">
        <label>Configuracion de la red </label>
        <form (submit)="ACred()" [formGroup]="ConfigRedForm">

            <h4>N° Neuronas
            </h4>
            <input type="number" class="form-control" formControlName="nodes_per_layer">

            <h4>Funcion Activacion
            </h4>
            <select class="form-control" formControlName="activation_functions_names">
                <option >sigmoid</option>
                <option >tanh</option>
            </select>

            <h4>N° de Capas ocultas: {{Ncapasocultas}}
            </h4>

            <button type="button" class="btn btn-secondary" (click)="agregarCapaO()">
                Agregar Capa <i class="bi bi-plus-circle"></i> 
              </button>



            <h4>Funcion Activacion de la Salida</h4>
            <select id="selectfas" class="form-control" formControlName="factivacion">
                <option >sigmoid</option>
                <option >tanh</option>
                <option >linear</option>
            </select>

            <button type="submit" [disabled]="ConfigRedForm.invalid" class="btn btn-success">Inicializar Red</button>
        </form>
    </div>


    <div class="Params_Entrenamiento">
        <label>Parametros de Entrenamiento</label>
        <form [formGroup]="ConfigRed2Form">

            <h4>N° Iteracciones</h4>
            <input type="number" class="form-control" formControlName="niteracciones">
            <h4>Error Max Permitido</h4>
            <input type="number" class="form-control" formControlName="emp">
            <h4>Rata de Aprendizaje</h4>
            <input type="number" class="form-control" formControlName="rataAprendizaje">
            <button type="button" (click)="Inicializarentrenamiento()" [disabled]="iniciarEntrenamiento || ConfigRed2Form.invalid" class="btn btn-secondary">Iniciar Entrenamiento</button>


        </form>
    </div>


    <div class="Info_Entrenamieto">
        <label>Informacion Entrenamieto</label>
        <label>Parametros de entrada</label>
        <h4 class="ESP">Entradas: {{Nentradas}} Salidas: {{Nsalidas}} Patrones: {{Npatrones}} </h4>

        <label>Configuracion de la red </label>
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th scope="col ">Capa#</th>
                    <th scope="col ">Funcion Activacion</th>
                    <th scope="col ">Entradas</th>
                    <th scope="col ">Neuronas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let layer of pesosoptimos; index as i ">
                    <th scope="row ">{{i+1}}</th>
                    <td><strong>{{layer.activation_function_name}}</strong></td>
                    <td><strong>{{layer.num_inputs}}</strong></td>
                    <td><strong>{{layer.nodes.length}}</strong></td>
                </tr>
            </tbody>
        </table>


        <label>Parametros de Entrenamiento</label>
        <h4>Numero de Iteracciones: {{datosEntrenamiento.epochs}}</h4>
        <h4>Error max permitido: {{datosEntrenamiento.tolerance}}</h4>
        <h4>Rata de aprendizaje: {{datosEntrenamiento.learning_rate}}</h4>



    </div>

    <div class="Grafica">
        <label>Grafica</label>

        <ngx-charts-line-chart class="grafi" [view]="view" [scheme]="colorScheme" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi"
            (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-line-chart>
    </div>
</div>