* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.contenedor .Params_entrada,
.contenedor .config_red,
.contenedor .Params_Entrenamiento,
.contenedor .Info_Entrenamieto,
.contenedor .Grafica {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    text-align: center;
}

.contenedor .Grafica,
.contenedor .Info_Entrenamieto,
.contenedor .Params_Entrenamiento {
    grid-column-start: 1;
    grid-column-end: -1;
}

@media screen and (max-width: 768px) {
    .contenedor .Params_entrada,
    .contenedor .config_red,
    .contenedor .Params_Entrenamiento,
    .contenedor .Info_Entrenamieto {
        grid-column: 1/-1;
    }
}

.contenedor div label {
    color: #00B74A;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.contenedor div .ESP {
    font-size: 15px;
    padding: 5px;
}

.contenedor .Params_entrada .input_file {
    font-size: 14px;
    padding: 20px;
}

.contenedor .Params_entrada .btn,
.contenedor .config_red .btn,
.contenedor .Params_Entrenamiento .btn {
    font-size: 15px;
    padding: 10px;
}

.contenedor .config_red h4,
.contenedor .Info_Entrenamieto h4 {
    font-size: 15px;
    padding: 10px;
}

.contenedor .config_red .col-md-3,
.contenedor .config_red .col-md-5 {
    margin: 2px;
}

.contenedor .config_red .col-md-5 select option {
    font-size: 12px;
    text-transform: uppercase;
}

.contenedor .config_red .col-md-2 .btn {
    font-size: 15px;
    padding: 10px;
    margin: 20px;
}

.contenedor .config_red .btn-success,
.contenedor .config_red .btn-secondary {
    margin: 10px;
}

.contenedor .config_red #selectfas {
    font-size: 14px;
    text-transform: uppercase;
}

.contenedor .Params_Entrenamiento h4 {
    font-size: 15px;
    padding: 10px;
}

.contenedor .Params_Entrenamiento .btn {
    margin: 10px;
}