<div class="contenedor">
    <div class="Params_entrada">
        <label>Parametros de entrada</label>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, voluptates sequi nisi nostrum, soluta nam expedita numquam, dolore omnis fugit a cum maxime voluptatum reprehenderit? Excepturi cupiditate eligendi ratione delectus!</p>
    </div>
    <div class="Grafica">
        <label>Grafica</label>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, possimus vel. Exercitationem rem quas culpa quo incidunt in rerum recusandae iusto voluptatibus magni dolorem non, nobis ratione! Consectetur, beatae vero.</p>
    </div>
</div>